<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Database Application</title>


    <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for('showAddMovie') }}">Add Movie</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a>
          </ul>
        </nav>
        <h3 class="text-muted">Movie Database Application</h3>
      </div>
      <h1 class="text-center" style="margin-bottom:3pc">{{data['firstname']}} {{data['lastname']}}</h1>
      <h4 class="text-left">Details:</h4>
        <div class="list-group">
        <div class="list-group-item active">
        {% if data['nationality'] %}
            <div class="row">
                    <div class="col-sm-12"><h4 class="list-group-item-heading text-center">Nationality : {{data['nationality']}}</h4></div>
                    <div class="col-sm-12"><h4 class="list-group-item-heading text-center">BirthPlace : {{data['birthplace']}}</h4></div>
            </div>
        {% else %}
        <div class="row">
                <div class="col-sm-12"><h4 class="list-group-item-heading text-center">No nationality and birthplace details added yet.</h4></div>
                <div class="col-sm-12"><h4 class="list-group-item-heading text-center">Add details?</h4></div>
                <a href="{{ url_for('showAddActor') }}"><h4 class="list-group-item-heading text-center" style="color:white">Click here!</h4></a></li>
        </div>
        {% endif %}


        </div>
        </div>

      <footer class="footer">
        <p>&copy; Movie Company 2015</p>
      </footer>

    </div>
  </body>
</html>
