<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Database Application</title>


    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <script src="../static/js/jquery-2.2.1.min.js"></script>


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Add Movie</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Movie Database Application</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="{{ url_for('addDirector') }}">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Add Director Details</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Name</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputDirectorFirstName" type="text" placeholder="first name" class="form-control input-md" required="true">
                            <input id="txtTitle" name="inputDirectorLastName" type="text" placeholder="last name" class="form-control input-md" required="true">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Nationality</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputNationality" type="text" placeholder="" class="form-control input-md" required="true">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">BirthPlace</label>
                        <div class="col-md-4">
                            <input id="txtTitle" name="inputBirthPlace" type="text" placeholder="" class="form-control input-md" required="true">
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                        </div>
                    </div>

                </fieldset>
            </form>

        </section>
        <footer class="footer">
            <p>&copy; Movie Company 2015</p>
        </footer>

    </div>
</body>

</html>
