<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Database Application</title>


    <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for('showAddMovie') }}">Add Movie</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a>
          </ul>
        </nav>
        <h3 class="text-muted">Movie Database Application</h3>
      </div>
      <h1 class="text-center" style="margin-bottom:3pc">{{movieData['Title']}}</h1>
        <div class="list-group">
        <div class="list-group-item active">
        <div class="row">
            {% if movieData['Rating'] %}
                <div class="col-sm-4"><h4 class="list-group-item-heading text-center">Rating : {{movieData['Rating']}}/10</h4></div>
            {% else %}
                <div class="col-sm-4"><h4 class="list-group-item-heading text-center">Rating : Not rated yet</h4></div>
            {% endif %}
            <div class="col-sm-4"><h4 class="list-group-item-heading text-center">Genre : {{movieData['GenreName']}}</h4></div>
            <div class="col-sm-4"><h4 class="list-group-item-heading text-center">Release Year : {{movieData['ReleaseYear']}}</h4></div>
        </div>
        <div class="row">
            <br />
            <h4 class="list-group-item-heading text-center">Synopsis :</h4>
            <div style="word-wrap: break-word"><p class="list-group-item-text text-center">{{movieData['Synopsis']}}</p></div>
        </div>
        <div class="row">
            <br />
            <h4 class="list-group-item-heading text-center">Time : {{movieData['MovieLength']}} Hrs</h4>
        </div>
        </div>
        </div>
        <h2 class="list-group-item-heading text-center">Directed By:</h2>
        <br />
        {% for x in director_name %}
        <div class="list-group">
        <div class="list-group-item active">
        <div class="row">
            <a href="{{ url_for('director', directorid=x[2]) }}" style="color:white">
            <div class="col-sm-4"><h4 class="text-left">Director {{loop.index}} :</h4></div>
            <div class="col-sm-4"><h4>{{x[0]}} {{x[1]}}</h4></div>
            </a>
        </div>
        </div>
        </div>
        {% endfor %}

        <h2 class="list-group-item-heading text-center">Cast:</h2>
        <br />

        {% if actor_name|length > 0 %}
            {% for x in actor_name %}
                <div class="list-group">
                <div class="list-group-item active">
                <div class="row">
                    <a href="{{ url_for('actor', actorid=x[2]) }}" style="color:white">
                    <div class="col-sm-4"><h4 class="text-left">Actor/Actress {{loop.index}} :</h4></div>
                    <div class="col-sm-4"><h4>{{x[0]}} {{x[1]}}</h4></div>
                    </a>
                </div>
                </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="list-group">
            <div class="list-group-item active">
            <div class="row">
                <div class="col-sm-4"><h4 class="text-left">No Actor/Actress</h4></div>
            </div>
            </div>
            </div>
        {%endif %}
        <h2 class="list-group-item-heading text-center">Reviews:</h2>
        <br />

        {% if review_data|length > 0 %}
            {% for x in review_data %}
                <div class="list-group">
                <div class="list-group-item active">
                <div class="row">
                    <div class="col-sm-4"><h4 class="text-left">{{loop.index}} :</h4></div>
                    <div class="col-sm-4"><h4>{{x[0]}}</h4></div>
                    <div class="col-sm-4"><h4>Date: {{x[1]}}</h4></div>
                    <div class="col-sm-4"><h4>By: {{x[2]}}</h4></div>
                </div>
                </div>
                </div>
            {% endfor %}
        {%endif %}
        {% if my_review_data|length <= 0 and  review_data|length <= 0%}
            <div class="list-group">
            <div class="list-group-item active" style="background-color:#e53935">
            <div class="row">
                <div class="col-sm-12"><h4>No Reviews yet, be the first one to review!</h4></div>
            </div>
            </div>
            </div>
        {%endif %}
        {% if my_review_data|length > 0 %}
            <h3 class="list-group-item-heading text-center">Your Reviews:</h3>
            <br />
            {% for x in my_review_data %}
                <div class="list-group">
                <div class="list-group-item active">
                <div class="row">
                    <div class="col-sm-4"><h4 class="text-left">{{loop.index}} :</h4></div>
                    <div class="col-sm-4"><h4>{{x[0]}}</h4></div>
                    <div class="col-sm-4"><h4>Date: {{x[1]}}</h4></div>
                </div>
                </div>
                </div>
            {% endfor %}
        {%endif %}

        <div class="row">
            <form method="post" action="{{ url_for('review', movie_name=movieData['Title']) }}">
                <div class="col-lg-10 col-lg-offset-1">
                  <div class="input-group">
                    <textarea class="form-control" id="txtPost" name="inputReview" placeholder="Add a review..."  maxlength="100" required="true"></textarea>
                    <input type="number" class="form-control" name="inputRating" value="5" min="0" max="10" step="0.1" />
                    <span class="input-group-btn">
                     <button class="btn btn-default" type="submit">Add</button>
                    </span>

                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </form>
        </div>




      <footer class="footer">
        <p>&copy; Movie Company 2015</p>
      </footer>

    </div>
  </body>
</html>
