<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Database Application</title>


    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <script src="../static/js/jquery-2.2.1.min.js"></script>


</head>
<style>
    .even {
      color: green;
    }

    .odd {
      color: red;
    }
  </style>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{ url_for('showAddMovie') }}">Add Movie</a></li>
                    <li role="presentation"><a href="{{ url_for('showAddDirector') }}">Add New Director</a></li>
                    <li role="presentation"><a href="{{ url_for('showAddActor') }}">Add New Actor</a></li>
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Movie Database Application</h3>
        </div>
        <br />
        <br />
        <div class="row">
            <form method="post" action="{{ url_for('searchMovie') }}">
                <div class="col-lg-8 col-lg-offset-2">
                  <div class="input-group">
                    <input type="text" name="searchText" class="form-control" placeholder="Search for Movie..." required="true">
                    <span class="input-group-btn">
                     <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-8 col-lg-offset-2">
                <h4 class="text-left">Search by : </h4>
                    <label class="radio-inline"><input type="radio" name = "option" value="opt1" checked>Movie Title</label>
                    <label class="radio-inline"><input type="radio" name = "option" value="opt2">Release Year</label>
                    <label class="radio-inline"><input type="radio" name = "option" value="opt3">Genre</label>
                </div>
            </form>
        </div>

        <h1 class="text-center" style="margin-bottom:3pc">Movies</h1>
        {% if loopdata|length > 0 %}
            {% for x in loopdata %}
            <div class="list-group">

            <a href="{{ url_for('movie', movie_name=x['Title']) }}" class="list-group-item active">
                <h4 class="list-group-item-heading text-center">{{x['Title']}}</h4>
                <div class="row">
                    {% if x['Rating'] %}
                        <div class="col-sm-4"><p class="list-group-item-text text-center">Rating : {{x['Rating']}}/10</p></div>
                    {% else %}
                        <div class="col-sm-4"><p class="list-group-item-text text-center">Rating : Not rated yet</p></div>
                    {% endif %}
                    <div class="col-sm-4"><p class="list-group-item-text text-center">Genre : {{x['GenreName']}}</p></div>
                    <div class="col-sm-4"><p class="list-group-item-text text-center">Release Year : {{x['ReleaseYear']}}</p></div>
                </div>
            </a>
            </div>
            {% endfor %}
        {% else %}
            <h2 class="list-group-item-heading text-center">No Search Result! :(</h2>
        {%endif %}



        <footer class="footer">
            <p>&copy; Movie Company 2015</p>
        </footer>

    </div>
</body>

</html>
